<h1>Users#index</h1>
<p>Welcome!</p>
<form action="/users/register" method="GET">
  <input type="text" name="full_name" placeholder="Your name" autofocus required/><br />
  <input type="text" name="address" placeholder="Your address" autofocus required/><br />
  <input type="text" name="city" placeholder="Your city" autofocus required/><br />
  <input type="text" name="state" placeholder="Your state" autofocus required/><br />
  <input type="number" name="zipcode" placeholder="Your zipcode" autofocus required/><br />
  <input type="text" name="country" placeholder="Your country" autofocus required/><br />
  <input type="email" name="email" placeholder="Your email" required/><br />
  <input type="text" name="user_name" placeholder="Your user name" required/><br />
  <input type="password" name="password" placeholder="Your password" required/><br />

  <input type="submit" value="Register" />
</form>
